<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  
  <div class="row">
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate" value="{{course.title}}" required>
      <label for="title">Сourse name</label>
      <span class="helper-text" data-error="Input name"></span>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input id="price" name="price" type="number" class="validate" value="{{course.price}}" required min="1">
      <label for="price">Price</label>
      <span class="helper-text" data-error="Input price"></span>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" value="{{course.img}}" required>
      <label for="img">URL image</label>
      <span class="helper-text" data-error="Input URL"></span>
    </div>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">

  <button class="btn btn-primary purple accent-4">Edit course</button>
</form>